.cardsDialog {
    .closeButton {
      position: absolute;
      right: 0;
      top: 0;
      margin: 5px;
    }
    .MuiDialogContent-root {
      display: flex;
      .cardInDialog {
        margin: 30px;
      }
    }
}
