.game {
  display: grid;
  grid-template-columns: 1fr 2fr 0.7fr 2fr 0.7fr 2fr 1fr;
  .card {
    margin-top: 5%;
    border: 1px solid black;
    height: 90%;
    width: auto;
    max-height: 80vh;
    max-width: 20vw;
    border-radius: 20px;
    .selectArtistButton {
      margin-top: 7%;
      width: 100%;
      height: 7%;
      border-radius: 10px;
    }
  }
  .game-nav{
    grid-column-start: 3;
    grid-column-end: 6;
    border: 1px solid black;
    margin-top: 4%;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
  }
  .card1 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .card2 {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .card3 {
    grid-column-start: 6;
    grid-column-end: 7;
  }
}