.game {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 5%;
  .navGame {
    display: flex;
    max-height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    .gameNavMenu {
      display: flex;
      flex-direction: row;
      width: 40%;
      align-items: center;
      justify-content: space-between;
      .volumeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10vw;
        margin-right: 2vw;
      }
      Button {
        background: #1DB954;
        color: #edf5e6;
        margin-left: 2vw;
        width: 10vw;
      }
    }
    .navButton {
      background: #1DB954;
      color: #edf5e6;
      width: 10vw;
    }
  }
  .cardGrid {
    margin-top: 3%;
    position: relative;
    height: 70%;
    display: flex;
    justify-content: space-around;
    .gameCardBox {
      Button {
        width: 100%;
        margin-top: 20px;
        background: #1DB954;
      }
    }
  }
}
