.MainPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  .VideoBG {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
  }
  .center-container {
    align-self: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: #ffffff;
    }
    Button {
      background: #1DB954;
      color: #ffffff;
    }
  }
}