.MainPage {
  .content {
    display: flex;
    flex-direction: column;
    margin: 30vh 20vw;
    align-items: center;

    button {
      border-radius: 25px;
      height: 5vh;
      width: 10vw;
      font-size: 3vh;
      outline: none;
    }

    button:focus, button:active {
      border: 1px solid black;
    }
  }
}