.player {
    height: 50px;
    margin: 10px;
    width: auto;
    display: flex;
    .albumImg {
      width: 50px;
    }
    .MuiTypography-body1, .MuiTypography-body2{
      white-space: nowrap;
      width: 12vw;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .playerIcon {
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }
  }
