.player {
    margin: 3% 3%;
    width: auto;
    display: flex;
    h3 {
      text-align: center;
      text-overflow: clip;
      justify-content: center;
      margin: auto auto;
      padding: 0;
    }
    Fab {
      background: #1DB954;
    }
  }