.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .artist-name {
    margin: 3% auto;
  }
  .genres-box {
    margin-left: 3%;
    margin-right: 3%;
    .genre-name {
      margin-bottom: 0;
    }
    .genre {
      margin-top: 0;
    }
  }
  .photo {
    width: 100%;
    border-radius: 20px;
  }
}