.cardTemplate {
  width: 20vw;
  height: 70vh;
  .artistHeader {
    top:0;
    height: 10%;
  }
  .artistPhoto {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5e5e5;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .MuiCardContent-root {
    padding: 0;
  }
  .cardPlayers {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
